# ST0263 - Tópicos Especiales de Telemática

- **Nombre**: Julián David Valencia Restrepo

- **Correo**: jdvalencir@eafit.edu.co

## Profesor

- **Nombre**: Edwin Nelson Montoya Munera

- **Correo**: emontoya@eafit.edu.co

## **Proyecto 3 - Spark con Notebooks y PySpark.**

En este proyecto 3, se trabajará con datos de casos positivos de COVID-19 en Colombia utilizando Apache Spark y PySpark en Jupyter Notebooks. Se realizará análisis exploratorio y se responderán preguntas de negocio, utilizando dos tipos de procesamiento Spark: Dataframes y SparkSQL. Los datos deben ser almacenados y procesados tanto en AWS S3 como en Google Drive.

## **Vídeo sustentación**

## **1. Almacenar datos en AWS S3 y en google drive**

In [1]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

## **Sesión para Google Drive**

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

## **Sesión para S3**

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("data_processing") \
    .master("local[*]") \
    .config("spark.driver.memory", "16G") \
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M") \
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4") \
    .config("fs.s3a.access.key", "ASIA4MTWNN36X6PVT2RO") \
    .config("fs.s3a.secret.key", "+Licye7AaGWu3S8vPGxtiZbM3ORtx5Gbqy+84QCE") \
    .config("fs.s3a.session.token", "IQoJb3JpZ2luX2VjEKz//////////wEaCXVzLXdlc3QtMiJGMEQCICPExVnlksltPp5yWx+C52H4zDeQV/XxiR61P3wTu/y2AiAcVmAJGnWOfJY+QQC+LSWdyvPGigwhzZEGZg8QGR5tWyqxAgg1EAAaDDg1MTcyNTYxMDc0OSIMFG90re1vZ6xbYbmAKo4CQAe0G+qNWvfUxgLxS6YoQTTt8jifARWGR2Q6jNWpWtDmE8x8tI3HJXd7xqW5wKGbF3QYGUYiWloNokrJT1S/Ps/uEm8N6mJY8wJcp5qEuXnY+5C8Av5e1UY5nfYbXTgBjklip6hUb9jAda+LzyfEdni/u3Ywava8kWOAFM87iwa7GQfzie6j7FQe6m15OU3AriS+/C/hXfkMPfXfbBTveycoltjCrtyDeM98Ot2yy4WwqmBt12U2u9ZAJXxmnEiUk5eeAS34x7CMdj/yQUhM5e4tiPXVzYpK+3Q1qPo2oVhwwmx5iJcgUXCivArxjoxY4OKv5TvrR25fC7UIZZVfg3CjZSDsQhFsJ7HMWOWNMPCo47IGOp4BsNoA2rIYvSLYyo3sUzmlWpR+yygUKNTUCsazKVxl4scMKs4TWRq5uf9TDEpJhMr/wvkhhcPeGGYrZvngfBo+2WU1OfLa3YhWD4zqCZ1jlSx2MuJyGN910hCjNVzH3ZEpm80E8X2qLvgcGNL7pFRfRlLyWnJp+QWknie0ZQ9AvTDxF9upB/CZqAryBMIiUdjkHq5VKERfzIUuN7jCWlY=") \
    .config("fs.s3a.path.style.access", "true") \
    .config('fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem') \
    .config('fs.s3a.endpoint', 's3.amazonaws.com') \
    .getOrCreate()

sc = spark.sparkContext

In [5]:
spark

In [6]:
sc

## **Cargar datos con Google Drive**

In [ ]:
df=spark.read.csv('/content/gdrive/MyDrive/Proyecto3-TET/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

## **Cargar datos con S3**

In [7]:
df=spark.read.csv('s3a://jdvalencirproyecto3/coviddataset/Casos_positivos_de_COVID-19_en_Colombia..csv',inferSchema=True,header=True)

## **2. Análisis exploratorio de datos en dataframes donde cargamos los datos: (programa en jupyterhub y google colab)**

**2.1 Columnas**

In [8]:
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

**2.2 Tipos de datos**

In [9]:
df.printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: timestamp (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: timestamp (nullable = true)
 |-- Fecha de muerte: timestamp (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: timestamp (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

**2.3 Seleccionar algunas columnas**

In [12]:
df.show(5)
df.select('Estado','FechaMuerte', 'Sexo', 'PertenenciaÉtnica').show(5)

+-------------------+----------+---------------------+----------------------------+------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|   Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|        FechaMuerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|PertenenciaÉtnica|Nombre del grupo étnico|
+-------------------+----------+---------------------+----------------------------+------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
|2020-12-24 00:00:00|   1556979|  2020-12-22 00:00:00|                          76|       VALLE|                    76001|            CALI|  67|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556980|  2020-12-19 00:00:00|                          76|       VALLE|                    76001|            CALI|  66|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-07 00:00:00|               NULL| 2020-12-23 00:00:00|  2020-12-25 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556981|  2020-12-19 00:00:00|                          76|       VALLE|                    76001|            CALI|  68|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-18 00:00:00|               NULL| 2020-12-22 00:00:00|  2021-01-01 00:00:00|              Tiempo|                6|                   NULL|
|2020-12-24 00:00:00|   1556982|  2020-12-22 00:00:00|                          76|       VALLE|                    76001|            CALI|  74|                       1|   F|     Comunitaria|         Fallecido|Fallecido|               NULL|           NULL| Fallecido|        2020-12-17 00:00:00|2020-12-30 00:00:00| 2020-12-23 00:00:00|                 NULL|                NULL|                6|                   NULL|
|2020-12-24 00:00:00|   1556983|  2020-12-22 00:00:00|                          76|       VALLE|                    76001|            CALI|  65|                       1|   F|     Comunitaria|              Casa|     Leve|               NULL|           NULL|Recuperado|        2020-12-21 00:00:00|               NULL| 2020-12-23 00:00:00|  2021-01-04 00:00:00|              Tiempo|                6|                   NULL|
+-------------------+----------+---------------------+----------------------------+------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+---------+-------------------+---------------+----------+---------------------------+-------------------+--------------------+---------------------+--------------------+-----------------+-----------------------+
only showing top 5 rows

+---------+-------------------+----+-----------------+
|   Estado|        FechaMuerte|Sexo|PertenenciaÉtnica|
+---------+-------------------+----+-----------------+
|     Leve|               NULL|   F|                6|
|     Leve|               NULL|   F|                6|
|     Leve|               NULL|   F|                6|
|Fallecido|2020-12-30 00:00:00|   F|                6|
|     Leve|               NULL|   F|                6|
+---------+-------------------+----+-----------------+
only showing top 5 rows

**2.4 Renombrar Columnas**

In [11]:
df=df.withColumnRenamed('Fecha de muerte','FechaMuerte')
df=df.withColumnRenamed('Pertenencia étnica', 'PertenenciaÉtnica')
df=df.withColumnRenamed('Nombre departamento', 'Departamento')

**2.5 Agregar columnas**

In [ ]:
df = df.withColumn('es_mayor_edad',( df["edad"] >= 18))

**2.6 Borrar columnas**

In [ ]:
df = df.drop("es_mayor_edad")

**2.7 Filtrar datos**

In [ ]:
df_filtered = df.filter(df['Estado'] > 30)
df_filtered.show(5)

**2.8 Ejecutar alguna función UDF o lambda sobre alguna columna creando una nueva.**

In [ ]:

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
def clasificar_edad(edad):
    if edad <= 12:
        return "Niño"
    elif 13 <= edad <= 17:
        return "Adolescente"
    else:
        return "Adulto"

# Registrar la UDF con Spark
clasificar_edad_udf = udf(clasificar_edad, StringType())

# Aplicar la función UDF al DataFrame de Spark y crear una nueva columna "RangoEdad"
df_spark = df.withColumn("RangoEdad", clasificar_edad_udf(df.Edad))
df_spark.select("Edad", "RangoEdad").show(100)

## **3. Contestar las siguientes preguntas de negocio sobre los datos de covid:**

### **3.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor**

##### **Utilizando DataFrame**

In [13]:
departamentos_df = df.groupBy("Departamento").count().orderBy("count", ascending=False).limit(10)
departamentos_df.show()

+------------+-------+
|Departamento|  count|
+------------+-------+
|      BOGOTA|1318021|
|   ANTIOQUIA| 671347|
|       VALLE| 374391|
|CUNDINAMARCA| 240768|
|   SANTANDER| 206691|
|BARRANQUILLA| 176494|
|   CARTAGENA| 111307|
|   ATLANTICO| 103173|
|      TOLIMA|  98638|
|      BOYACA|  96386|
+------------+-------+

##### **Utilizando SparkSQL**

In [15]:
df.createOrReplaceTempView("covid_data")
departamentos_sql = spark.sql("""
    SELECT Departamento, COUNT(*) as casos
    FROM covid_data
    GROUP BY Departamento
    ORDER BY casos DESC
    LIMIT 10
""")
departamentos_sql.show()

+------------+-------+
|Departamento|  casos|
+------------+-------+
|      BOGOTA|1318021|
|   ANTIOQUIA| 671347|
|       VALLE| 374391|
|CUNDINAMARCA| 240768|
|   SANTANDER| 206691|
|BARRANQUILLA| 176494|
|   CARTAGENA| 111307|
|   ATLANTICO| 103173|
|      TOLIMA|  98638|
|      BOYACA|  96386|
+------------+-------+

### **3.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor**

##### **Utilizando DataFrame**

In [16]:
ciudades_df = df.groupBy("Nombre municipio").count().orderBy("count", ascending=False).limit(10)
ciudades_df.show()

+----------------+-------+
|Nombre municipio|  count|
+----------------+-------+
|          BOGOTA|1318021|
|        MEDELLIN| 365329|
|            CALI| 256928|
|    BARRANQUILLA| 176494|
|       CARTAGENA| 111307|
|     BUCARAMANGA|  98467|
|          IBAGUE|  68728|
|       MANIZALES|  62494|
|     SANTA MARTA|  59020|
|   VILLAVICENCIO|  55923|
+----------------+-------+

##### **Utilizando SparkSQL**

In [ ]:
ciudades_sql = spark.sql("""
    SELECT `Nombre municipio` as ciudad, COUNT(*) as casos
    FROM covid_data
    GROUP BY ciudad
    ORDER BY casos DESC
    LIMIT 10
""")
ciudades_sql.show()

### **3.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor**

##### **Utilizando DataFrame**

In [17]:
dias_df = df.groupBy("fecha reporte web").count().orderBy("count", ascending=False).limit(10)
dias_df.show()

+-------------------+-----+
|  fecha reporte web|count|
+-------------------+-----+
|2021-06-26 00:00:00|33593|
|2021-06-25 00:00:00|32659|
|2021-06-27 00:00:00|31902|
|2021-06-12 00:00:00|29999|
|2021-06-04 00:00:00|29998|
|2021-06-23 00:00:00|29972|
|2021-06-17 00:00:00|29946|
|2021-06-10 00:00:00|29303|
|2021-06-05 00:00:00|28971|
|2021-06-18 00:00:00|28778|
+-------------------+-----+

##### **Utilizando SparkSQL**

In [ ]:
dias_sql = spark.sql("""
    SELECT `fecha reporte web` as fecha, COUNT(*) as casos
    FROM covid_data
    GROUP BY fecha
    ORDER BY casos DESC
    LIMIT 10
""")
dias_sql.show()

### **3.4 Distribución de casos por edades de covid en Colombia**

##### **Utilizando DataFrame**

In [18]:
edades_df = df.groupBy("Edad").count().orderBy("Edad")
edades_df.show()

+----+-----+
|Edad|count|
+----+-----+
|NULL|    4|
|   1|16105|
|   2|14632|
|   3|14445|
|   4|15258|
|   5|16147|
|   6|17012|
|   7|17351|
|   8|19616|
|   9|20492|
|  10|21780|
|  11|24158|
|  12|25392|
|  13|27659|
|  14|29989|
|  15|32532|
|  16|35288|
|  17|39830|
|  18|47778|
|  19|59520|
+----+-----+
only showing top 20 rows

##### **Utilizando SparkSQL**

In [ ]:
edades_sql = spark.sql("""
    SELECT Edad, COUNT(*) as casos
    FROM covid_data
    GROUP BY Edad
    ORDER BY Edad
""")
edades_sql.show()

### **3.5 Pregunta de negocio:  ¿Cuál es la proporción de casos recuperados por departamento?**

##### **Utilizando DataFrame**

In [19]:
recuperados_df = df.filter(df.Recuperado == 'Recuperado').groupBy("Departamento").count()
total_df = df.groupBy("Departamento").count()

# Renombrar columnas para la unión
recuperados_df = recuperados_df.withColumnRenamed("count", "recuperados")
total_df = total_df.withColumnRenamed("count", "total")

# Unir ambos dataframes
proporcion_df = recuperados_df.join(total_df, "Departamento")
proporcion_df = proporcion_df.withColumn("proporcion", proporcion_df.recuperados / proporcion_df.total)
proporcion_recuperados = proporcion_df.select("Departamento", "proporcion").orderBy("proporcion", ascending=False)
proporcion_recuperados.show()

+--------------+------------------+
|  Departamento|        proporcion|
+--------------+------------------+
|        Tolima|               1.0|
|        VAUPES|0.9860821155184412|
|       GUAINIA|0.9839773798303487|
|       VICHADA|0.9816341829085458|
|     CARTAGENA| 0.980082115230848|
|        BOGOTA|0.9783986749831756|
|    SAN ANDRES|0.9777667984189723|
|     ANTIOQUIA|0.9757130068355113|
|      GUAVIARE|0.9748561687619859|
|        CALDAS|0.9717182614822317|
|          META|0.9706514848285206|
|        BOYACA|0.9702861411408296|
|       BOLIVAR|0.9699132929134885|
|      CASANARE|0.9697962716789811|
|  CUNDINAMARCA|0.9696928163211058|
|     RISARALDA|0.9695312003053241|
|         CHOCO|0.9693205728636395|
|         SUCRE|0.9683762606380985|
|STA MARTA D.E.|0.9683158251440189|
|  BARRANQUILLA|0.9678969256745272|
+--------------+------------------+
only showing top 20 rows

##### **Utilizando SparkSQL**

In [ ]:
proporcion_sql = spark.sql("""
    WITH recuperados AS (
        SELECT Departamento, COUNT(*) as recuperados
        FROM covid_data
        WHERE Recuperado = 'Recuperado'
        GROUP BY Departamento
    ),
    total AS (
        SELECT Departamento, COUNT(*) as total
        FROM covid_data
        GROUP BY Departamento
    )
    SELECT t.Departamento, (r.recuperados / t.total) as proporcion
    FROM recuperados r
    JOIN total t ON r.Departamento = t.Departamento
    ORDER BY proporcion DESC
""")
proporcion_sql.show()

## **4. Guarde los datos del numeral 3, en el bucket público de cada estudiante**

### **4.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor.**

In [20]:
departamentos_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://jdvalencirproyecto3/RespuestasCovid/covid_top_10_casos_por_departamento.csv')

### **4.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor.**

In [21]:
ciudades_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://jdvalencirproyecto3/RespuestasCovid/covid_top_10_casos_por_ciudad.csv')

### **4.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.**

In [22]:
dias_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://jdvalencirproyecto3/RespuestasCovid/covid_top_10_casos_por_dia.csv')

### **4.4 Distribución de casos por edades de covid en Colombia.**

In [23]:
edades_df.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://jdvalencirproyecto3/RespuestasCovid/covid_distribucion_casos_por_edades.csv')

### **4.5 Realice la pregunda de negocio que quiera sobre los datos y respondala con la correspondiente programación en spark.**

In [24]:
proporcion_recuperados.write.format('csv').mode('overwrite').option('header', 'true').save('s3a://jdvalencirproyecto3/RespuestasCovid/propocion_recuperados_colombia.csv')